body {
    background-color: rgb(166, 166, 166);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Poppins", sans-serif !important;
    font: inherit;
}

body::-webkit-scrollbar {
    display: none;
}

ul>li {
  list-style-type:none
}

ul>li:last-child {
    margin-bottom: 40px;
}

/* .center-block {
    margin: 5 auto;
} */

.margin-group {
    margin: 5 auto;
}

.image-container {
    width: 200px;
    height: 250px;
    overflow-y: hidden;
    border-radius: 10px;
}

.image-list {
    width: 200px;
    height: auto;
}

.image-popup-window {
    max-width: 300px;
    height: 300px;
}

.image-quiz-answer {
    width: 200px;
    height: 100%;
    cursor: pointer;
}

.radioImgCheckBox {
    position: relative;
    top: -252px;
    left: 5px;
}

.pull-bottom {
    position: absolute;
    bottom: 10px;
}

.fadeOutText {
     -webkit-animation: fadeOut 0.25s linear 1 normal forwards;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeInText {
     -webkit-animation: fadeIn 0.25s linear 1 normal forwards;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.showText {
    color: rgba(255,255,255,0.85);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: fixed;
    z-index: 10;
    top: 80px;
}

.showText p:last-child {
    font-size: 3rem;
}

.showText p:last-child::after {
    content: "";
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.65);
}


.parallax {
      /* The image used */
    background-image: url("../images/bg.jpg");
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1100px) {
    button[type=button] {
      max-width: 230px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
      margin-bottom: 5px;
    }
}

button[type=button] {
    margin-right: 5px;
    margin-bottom: 5px;
}

.answer {
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #23f;
    background-color: ##0e73d1;
    color: #000;
}

.answer:hover {
    cursor: pointer;
    color: #fff;
    background-color: #335;
}

.answer-picked {
    color: #000;
    background-color: #d9edf7;
}

.image-answer-picked {
    box-shadow: 10px 10px 17px 16px rgba(45, 155, 210, 0.6);
}

.image-correct {
    box-shadow: 10px 10px 17px 16px rgba(62, 209, 77, 0.4);
}

.image-incorrect {
    box-shadow: 10px 10px 17px 16px rgba(210, 45, 45, 0.6);
}
